*{
	margin: 0;
	padding: 0;

}

/*MIXIN*/
@RedColor: #ed1616;
@white: #fff;

.beforeLine{
	content: '';
	display: none;
	width: 100%;
	height: 3px;
	background: @RedColor;
	position: absolute;
	top: 100%;
	left: 0;
}
/*END MIXIN*/
.wrapper{
	header{
		padding: 0 10px;
		background: #000;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		.logo{
			float: left;
			img{
				padding: 7px 0 0 0;
			}
		}
		.nav-pills{
			float: right;
			.active{
				a{
					background: none;
					position: relative;
					&:before{.beforeLine; display: block;}
					&:hover,&:focus{background: none;}
				}
			}
			li{
				a{
					text-transform: uppercase;
					font-size: 20px;
					background: none;
					background-color: #000;
					color: darken(@white, 50%);
					position: relative;
					&:before{
						.beforeLine;
					}
					&:hover,&:focus{color: @white; background: none;}
					&:hover:before{display: block;}
				}
			}
		}
		button{
			background-color: transparent;
			border: 0;
			display: none;
			&:focus{outline:none;}
			.glyphicon-align-justify{
				font-size: 50px;
				color: #fff;
			}
		}
	}
	main{
		position: fixed;
		top: 0;
	   left: 0;
	   bottom: 0;
	   right: 0;
		.overlay{
	      width: 100%;
	      height: 100%;
	      display: block;
	   }
		#trailer {
	      position: fixed;
	      top: 0;
	      left: 0;
	      bottom: 0;
	      right: 0;
	      overflow: hidden;
	      z-index: 1;
	      .videoPreview{
	      	display: block;
				position: absolute;
			   left: 0;
			   right: 0;
			   top: 55%;
			   z-index: 11;
			   p{
			   	font-size: 59px;
			   	text-align: center;
			   	clear: both;
				}
				.description{
				   display: block;
				   background: #536166;
				   color: #ffffff;
				   font-size: 21px;
				   text-transform: lowercase;
				   width: 50%;
				   margin: 0 auto;
				   text-align: center;
				}
			}
	      div.over{
	      	z-index: 9;
	         position: absolute;
	         right: 0;
	         bottom: 0;
	         width: auto;
	         min-width: 100%;
	         height: auto;
	         min-height: 100%;
	         opacity: 1;
	         background: url("../images/bg-video.png") repeat center;
	      }
	      video{
	        position: absolute;
	        right: 0;
	        bottom: 0;
	        width: auto;
	        min-width: 100%;
	        height: auto;
	        min-height: 100%;
	        z-index: -100;
	        background-size: cover;
	        opacity: 1;
	      }
	      #playpausebtn{
	      	    position: relative;
			    z-index: 99999;
			    top: 36%;
			    left: 47%;
			    display: block;
			    visibility: visible;
			    border: 0;
			    font-size: 24px;
			    font-weight: bold;
			    background: transparent;
			    text-decoration: underline;
	        	border: 0;
	        	&:focus{outline: none;}
	      }
	   }
	}
	footer{}
}



/* Extra small devices (phones, less than 768px) */
@media(max-width:767px){
.wrapper{
	header{
		.logo{
			img{padding: 7px 0;}
		}
		.nav-pills{
			display: none;
			float: none;
			.active{
				a{
					background: none;
					position: relative;
					&:before{.beforeLine; display: none;}
					&:hover,&:focus{background: none;}
				}
			}
			li{
				display: block;
				float: none;
				a{
					text-transform: uppercase;
					display: block;
					clear: both;
					padding: 17px 6px 10px 6px;
					font-size: 13px;
					background: none;
					background-color: none;
					color: darken(@white, 50%);
					position: relative;
					&:before{
						.beforeLine;
						display: none;
					}
					&:hover,&:focus{color: @white; background: none;}
					&:hover:before{display: none;}
				}
			}
		}
		
		button{
			display: block;
			position: absolute;
			top: 7px;
			right: 5px;
			&:focus{outline:none;}
			.glyphicon-align-justify{
				font-size: 30px;
				color: #fff;
			}
		}
	}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px){
.wrapper{
	header{
		background: #000;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		.logo{
			display: block;
			float: left;
			img{
				padding: 7px 0;
			}
		}
		.nav-pills{
			float: right;
			display: block !important;
			.active{
				a{
					background: none;
					position: relative;
					&:before{.beforeLine; display: block;}
					&:hover,&:focus{background: none;}
				}
			}
			li{
				a{
					text-transform: uppercase;
					display: block;
					padding: 17px 4px 10px 4px;
					font-size: 13px;
					background: none;
					background-color: none;
					color: darken(@white, 50%);
					position: relative;
					&:before{
						.beforeLine;
					}
					&:hover,&:focus{color: @white; background: none;}
					&:hover:before{display: block;}
				}
			}
		}
	}
}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px){
.wrapper{
	header{
		background: #000;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		.logo{
			float: left;
			img{
				padding: 7px 0;
			}
		}
		.nav-pills{
			float: right;
			display: block !important;
			.active{
				a{
					background: none;
					position: relative;
					&:before{.beforeLine; display: block;}
					&:hover,&:focus{background: none;}
				}
			}
			li{
				a{
					text-transform: uppercase;
					display: block;
					font-size: 15px;
					padding: 12px;
					background: none;
					background-color: none;
					color: darken(@white, 50%);
					position: relative;
					&:before{
						.beforeLine;
					}
					&:hover,&:focus{color: @white; background: none;}
					&:hover:before{display: block;}
				}
			}
		}
	}
}
/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px){
.wrapper{
	header{
		background: #000;
		position: fixed;
		z-index: 9999;
		top: 0;
		left: 0;
		right: 0;
		.logo{
			display: block;
			float: left;
			img{
				padding: 7px 0 0 0;
			}
		}
		.nav-pills{
			display: block !important;
			float: right;
			.active{
				a{
					background: none;
					position: relative;
					&:before{.beforeLine; display: block;}
					&:hover,&:focus{background: none;}
				}
			}
			li{
				a{
					/*padding: 0;*/
					text-transform: uppercase;
					font-size: 19px;
					background: none;
					background-color: #000;
					color: darken(@white, 50%);
					position: relative;
					&:before{.beforeLine;}
					&:hover,&:focus{color: @white; background: none;}
					&:hover:before{display: block;}
				}
			}
		}
	}
}